$col-white:#fff;
$col-black:#000;
$col-grey-1:#f5f3eb;

$col-primary-1:#44d7b6;

$services-hori-pad:12rem;
$services-vertical-pad:10rem;
// @include respond(tab-port){
//     $services-hori-pad:12rem;
//     $services-vertical-pad:9rem;
// }

$md-hori-pad:8rem;
$md-vertical-pad:6rem;


$member-height:10rem;