
.m-bottom-s{
    margin-bottom: 1rem;
}
.m-bottom-md{
    margin-bottom: 2.5rem;
}
.m-bottom-l{
    margin-bottom: 5rem;
}

.m-top-md{
    margin-top: 2.5rem;
}
.m-top-l{
    margin-top: 5rem;
}
.m-top-xl{
    margin-top: 10rem;
}